* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer, aside, main {
    padding: 10px;
}


.top-nav .logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}


.top-nav nav a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.top-nav form input {
    padding: 5px;
}

.top-nav form button {
    padding: 5px;
}

/* Header */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eabacf;
    padding: 10px 20px;
}

.top-nav .logo img {
    max-height: 60px; /* Logo chiquito */
    width: auto;
}


/* Menú principal centrado */
.main-nav {
    text-align: center;
}

.main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

/* Login y registro a la derecha */
.auth-links a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Menú lateral */
.menu {
    width: 200px;
}

.menu ul {
    list-style: none;
}
nav {
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(73, 5, 47);
}

/* Main */
main {
    margin-left: 210px;
    padding: 10px;
    min-height: 80vh;
    
}

.todosproductos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 220px;
    text-align: center;
    height:450px;
}

.producto img {
    width: 200px;   /* ancho fijo */
    height: 300px;  /* alto fijo */
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #8bc34a;
    color: white;
    text-decoration: none;
    margin-top: 5px;
}

.detalle-producto img {
    max-width: 300px;  /* achica la foto */
    height: auto;
    display: block;
    margin: 10px auto; /* la centra */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/* Formularios centrados */
.center-form {
 border: 2px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin: 50px auto; 
    background: #f9f9f9;
    border-radius: 8px;
}

.center-form form {
    display: flex;
    flex-direction: column;
}

.center-form input, .center-form button {
    margin: 5px 0;
    padding: 8px;
}

.menu {
    background-color: #f1d2e0;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    
}

.bodyform main {
    margin-left: 0;
    display: flex;
    place-items: center;
    min-height: 80vh;
}

.bodyform .center-form {
    width: 340px;
}

/* Responsive */
@media (max-width: 768px) {
    main {
        margin-left: 0;
    }
    .menu {
        width: 100%;
    }
    .productos {
        flex-direction: column;
        align-items: center;
    }
}
 .opinion{
    margin-top: 20px;
 }
